
<app-page-header title="Apps"  active_item="File Details"></app-page-header>
<!-- Row -->
<div class="row row-sm">
  <div class="col-xl-8 col-lg-12 col-md-12">
    <div class="card  overflow-hidden">
      <div class="card-body px-4 pt-4">
        <a href="blog-details.html"><img src="./assets/images/photos/28.jpg" alt="img" class="cover-image rounded-3 w-100"></a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12 col-md-12">
    <div class="card file-details">
      <div class=" card-body ">
        <h5 class="mb-3">File details :</h5>
        <div class="">
          <div class="row">
            <div class="col-xl-12">
              <div class="table-responsive">
                <table class="table mb-0 border-top table-bordered text-nowrap">
                  <tbody>
                    <tr>
                      <th scope="row">File-name</th>
                      <td>image.jpg</td>
                    </tr>
                    <tr>
                      <th scope="row">File-size</th>
                      <td>12.45mb</td>
                    </tr>
                    <tr>
                      <th scope="row">uploaded-date</th>
                      <td>01-12-2020</td>
                    </tr>
                    <tr>
                      <th scope="row">uploaded-by</th>
                      <td>prityy abodh</td>
                    </tr>
                    <tr>
                      <th scope="row">image-width</th>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <th scope="row">image-height</th>
                      <td>600</td>
                    </tr>
                    <tr>
                      <th scope="row">File-formate</th>
                      <td>jpg</td>
                    </tr>
                    <tr class="border-bottom">
                      <th scope="row">File-location</th>
                      <td>storage/photos/image.jpg</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-lg-12 col-md-12">
    <div class="card carousel-section">
      <div class="card-body h-100">
           <div class="item">
          <div class="border rounded-3 overflow-hidden mb-0">

            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let slide of slidesStore">
                <ng-template carouselSlide [id]="slide.id">
                  <div class="item m-2">
                    <div class="card">
                      <div class="card custom-card overflow-hidden mb-0">
                        <a href="javascript:;" class="mx-auto"
                          ><img [src]="slide.src" [alt]="slide.alt"
                        /></a>
                        <div class="card-footer bd-t-0 py-3">
                          <div class="d-flex">
                            <div>
                              <h6 class="text-muted mb-0">{{ slide.size }}</h6>
                            </div>
                            <div class="ms-auto">
                              <h6 class="mb-0">{{ slide.title }}</h6>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
       </div>
    </div>
</div>


      </div>
    </div>

  <div class="col-xl-4 col-lg-12 col-md-12">
    <div class="card ">
      <div class="card-body">
        <h5 class="mb-4">Recent Files</h5>
        <ul id="lightgallery" class="list-unstyled row mb-0" >
          <li *ngFor="let img of imagesRect" class="col-xs-6 col-sm-4 col-md-4 col-xl-3 mb-5 border-bottom-0" data-responsive="./assets/images/photos/1.jpg" data-src="./assets/images/photos/1.jpg" data-sub-html="<h4>Gallery Image 1</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
            <a href="javascript:void(0)">
              <img class="img-responsive rounded-3" [src]="img.modal.img" alt="Thumb-1" (click)="openImageModalRowDescription(2, img)">
            </a>
          </li>
        </ul>


      </div>
    </div>
  </div>
</div>
<!-- End Row -->

