<app-page-header title="Form"  active_item="Form Element Sizes"></app-page-header>
						<!-- ROW OPEN -->
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title mb-0">Form Input Sizes</div>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-xl-12">
												<div class="mb-3">
													<label>Form Control Small Size <code class="highlighter-rouge">.form-control-sm</code> to <code class="highlighter-rouge">.form-control</code></label>
													<input type="text" class="form-control form-control-sm" name="input">
												</div>
											</div>
											<div class="col-xl-12">
												<div class="mb-3">
													<label>Form Control Medium Size <code class="highlighter-rouge">.form-control</code></label>
													<input type="text" class="form-control" name="input">
												</div>
											</div>
											<div class="col-xl-12">
												<div class="mb-3">
													<label>Form Control Large Size <code class="highlighter-rouge">.form-control-lg</code> to <code class="highlighter-rouge">.form-control</code></label>
													<input type="text" class="form-control form-control-lg" name="input">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ROW END -->

						<!-- ROW OPEN -->
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title mb-0">Checkbox Sizes</div>
									</div>
									<div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-4">
                                                <div class="mb-3 m-0">
                                                    <div class="form-label mb-4">Checkboxes</div>
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control custom-checkbox">
															<input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked="">
															<span class="custom-control-label">Option 1</span>
														</label>
                                                        <label class="custom-control custom-checkbox">
															<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
															<span class="custom-control-label">Option 2</span>
														</label>
                                                        <label class="custom-control custom-checkbox">
															<input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3" disabled="">
															<span class="custom-control-label">Option Disabled</span>
														</label>
                                                        <label class="custom-control custom-checkbox">
															<input type="checkbox" class="custom-control-input" name="example-checkbox4" value="option4" checked="" disabled="">
															<span class="custom-control-label">Option Disabled Checked</span>
														</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 mt-4 mt-xl-0">
                                                <div class="mb-3 m-0">
                                                    <div class="form-label mb-4">Checkboxes Medium Sizes</div>
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control custom-checkbox custom-control-md">
															<input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked="">
															<span class="custom-control-label custom-control-label-md">Option 1</span>
														</label>
                                                        <label class="custom-control custom-checkbox custom-control-md">
															<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
															<span class="custom-control-label custom-control-label-md">Option 2</span>
														</label>
                                                        <label class="custom-control custom-checkbox custom-control-md">
															<input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3" disabled="">
															<span class="custom-control-label custom-control-label-md">Option Disabled</span>
														</label>
                                                        <label class="custom-control custom-checkbox custom-control-md">
															<input type="checkbox" class="custom-control-input" name="example-checkbox4" value="option4" checked="" disabled="">
															<span class="custom-control-label custom-control-label-md">Option Disabled Checked</span>
														</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 mt-4 mt-xl-0">
                                                <div class="mb-3 m-0">
                                                    <div class="form-label mb-4">Checkboxes Large Size</div>
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control custom-checkbox custom-control-lg">
                                                                <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked="">
                                                                <span class="custom-control-label custom-control-label-lg">Option 1</span>
                                                            </label>
                                                        <label class="custom-control custom-checkbox custom-control-lg">
                                                                <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                                <span class="custom-control-label custom-control-label-lg">Option 2</span>
                                                            </label>
                                                        <label class="custom-control custom-checkbox custom-control-lg">
                                                                <input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3" disabled="">
                                                                <span class="custom-control-label custom-control-label-lg">Option Disabled</span>
                                                            </label>
                                                        <label class="custom-control custom-checkbox custom-control-lg">
                                                                <input type="checkbox" class="custom-control-input" name="example-checkbox4" value="option4" checked="" disabled="">
                                                                <span class="custom-control-label custom-control-label-lg">Option Disabled Checked</span>
                                                            </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
						</div>
						<!-- ROW END -->

						<!-- ROW OPEN -->
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title mb-0">Radio Sizes</div>
									</div>
									<div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-4">
                                                <div class="mb-3 ">
                                                    <div class="form-label">Radios</div>
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" name="example-radios" value="option1" checked="">
                                                                <span class="custom-control-label">Option 1</span>
                                                            </label>
                                                        <label class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" name="example-radios" value="option2">
                                                                <span class="custom-control-label">Option 2</span>
                                                            </label>
                                                        <label class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" name="example-radios" value="option3" disabled="">
                                                                <span class="custom-control-label">Option Disabled</span>
                                                            </label>
                                                        <label class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" name="example-radios02" value="option4" disabled="" checked="">
                                                                <span class="custom-control-label">Option Disabled Checked</span>
                                                            </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 mt-4 mt-xl-0">
                                                <div class="mb-3 ">
                                                    <div class="form-label">Medium Radios</div>
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control custom-radio custom-control-md">
                                                                <input type="radio" class="custom-control-input" name="example-radios1" value="option1" checked="">
                                                                <span class="custom-control-label custom-control-label-md">Option 1</span>
                                                            </label>
                                                        <label class="custom-control custom-radio custom-control-md">
                                                                <input type="radio" class="custom-control-input" name="example-radios1" value="option2">
                                                                <span class="custom-control-label custom-control-label-md">Option 2</span>
                                                            </label>
                                                        <label class="custom-control custom-radio custom-control-md">
                                                                <input type="radio" class="custom-control-input" name="example-radios1" value="option3" disabled="">
                                                                <span class="custom-control-label custom-control-label-md">Option Disabled</span>
                                                            </label>
                                                        <label class="custom-control custom-radio custom-control-md">
                                                                <input type="radio" class="custom-control-input" name="example-radios12" value="option4" disabled="" checked="">
                                                                <span class="custom-control-label custom-control-label-md">Option Disabled Checked</span>
                                                            </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 mt-4 mt-xl-0">
                                                <div class="mb-3 ">
                                                    <div class="form-label">Large Radios</div>
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control custom-radio custom-control-lg">
                                                                <input type="radio" class="custom-control-input" name="example-radios2" value="option1" checked="">
                                                                <span class="custom-control-label custom-control-label-lg">Option 1</span>
                                                            </label>
                                                        <label class="custom-control custom-radio custom-control-lg">
                                                                <input type="radio" class="custom-control-input" name="example-radios2" value="option2">
                                                                <span class="custom-control-label custom-control-label-lg">Option 2</span>
                                                            </label>
                                                        <label class="custom-control custom-radio custom-control-lg">
                                                                <input type="radio" class="custom-control-input" name="example-radios2" value="option3" disabled="">
                                                                <span class="custom-control-label custom-control-label-lg">Option Disabled</span>
                                                            </label>
                                                        <label class="custom-control custom-radio custom-control-lg">
                                                                <input type="radio" class="custom-control-input" name="example-radios22" value="option4" disabled="" checked="">
                                                                <span class="custom-control-label custom-control-label-lg">Option Disabled Checked</span>
                                                            </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
						</div>
						<!-- ROW END -->

						<!-- ROW OPEN -->
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title mb-0">Checkbox Sizes Switches</div>
									</div>
									<div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-4">
                                                <div class="mb-3">
													<label class="custom-switch">
														<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
														<span class="custom-switch-indicator"></span>
														<span class="custom-switch-description">Checkbox</span>
													</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" checked>
														<span class="custom-switch-indicator custom-switch-indicator-lg"></span>
														<span class="custom-switch-description">Check Box</span>
                                                    </label>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input">
														<span class="custom-switch-indicator custom-switch-indicator-xl"></span>
														<span class="custom-switch-description">Check Box</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 mt-4 mt-xl-0">
                                                <div class="mb-3">
													<label class="custom-switch">
														<input type="checkbox" name="custom-switch-checkbox2" class="custom-switch-input">
														<span class="custom-switch-indicator custom-square"></span>
														<span class="custom-switch-description">Check Box</span>
													</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="checkbox" name="custom-switch-checkbox2" class="custom-switch-input">
														<span class="custom-switch-indicator custom-switch-indicator-lg custom-square"></span>
														<span class="custom-switch-description">Check Box</span>
													</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="checkbox" name="custom-switch-checkbox2" class="custom-switch-input" checked>
														<span class="custom-switch-indicator custom-switch-indicator-xl custom-square"></span>
														<span class="custom-switch-description">Check Box</span>
													</label>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 mt-4 mt-xl-0">
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="checkbox" name="custom-switch-checkbox3" class="custom-switch-input" checked>
														<span class="custom-switch-indicator custom-radius"></span>
														<span class="custom-switch-description">Check Box</span>
													</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="checkbox" name="custom-switch-checkbox3" class="custom-switch-input">
														<span class="custom-switch-indicator custom-switch-indicator-lg custom-radius"></span>
														<span class="custom-switch-description">Check Box</span>
													</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="checkbox" name="custom-switch-checkbox3" class="custom-switch-input">
														<span class="custom-switch-indicator custom-switch-indicator-xl custom-radius"></span>
														<span class="custom-switch-description">Check Box</span>
													</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
						</div>
						<!-- ROW END -->

						<!-- ROW OPEN -->
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title mb-0">Radio Button Sizes Switches</div>
									</div>
									<div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-4">
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="radio" name="custom-switch-radio" class="custom-switch-input">
														<span class="custom-switch-indicator"></span>
														<span class="custom-switch-description">Radio Buttons</span>
													</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="radio" name="custom-switch-radio" class="custom-switch-input">
														<span class="custom-switch-indicator custom-switch-indicator-lg"></span>
														<span class="custom-switch-description">Radio Buttons</span>
													</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="radio" name="custom-switch-radio" class="custom-switch-input" checked>
														<span class="custom-switch-indicator custom-switch-indicator-xl"></span>
														<span class="custom-switch-description">Radio Buttons</span>
													</label>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 mt-4 mt-xl-0">
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="radio" name="custom-switch-radio1" class="custom-switch-input">
														<span class="custom-switch-indicator custom-square"></span>
														<span class="custom-switch-description">Radio Buttons</span>
													</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="radio" name="custom-switch-radio1" class="custom-switch-input">
														<span class="custom-switch-indicator custom-switch-indicator-lg custom-square"></span>
														<span class="custom-switch-description">Radio Buttons</span>
													</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="radio" name="custom-switch-radio1" class="custom-switch-input" checked>
														<span class="custom-switch-indicator custom-switch-indicator-xl custom-square"></span>
														<span class="custom-switch-description">Radio Buttons</span>
													</label>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 mt-4 mt-xl-0">
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="radio" name="custom-switch-radio2" class="custom-switch-input" checked>
														<span class="custom-switch-indicator custom-radius"></span>
														<span class="custom-switch-description">Radio Buttons</span>
													</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="radio" name="custom-switch-radio2" class="custom-switch-input">
														<span class="custom-switch-indicator custom-switch-indicator-lg custom-radius"></span>
														<span class="custom-switch-description">Radio Buttons</span>
													</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch">
														<input type="radio" name="custom-switch-radio2" class="custom-switch-input">
														<span class="custom-switch-indicator custom-switch-indicator-xl custom-radius"></span>
														<span class="custom-switch-description">Radio Buttons</span>
													</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
						</div>
						<!-- ROW END -->
