<app-page-header title="Elements"  active_item="Badges"></app-page-header>
						<!-- ROW-1 OPEN -->
						<div class="row">
							<div class="col-md-12 col-lg-12">
								<div class="card ">
									<div class="card-header">
										<h3 class="mb-0 card-title">Badges</h3>
									</div>
									<div class="card-body">
										<span class="badge badge-default me-1 my-1">Default</span>
										<span class="badge bg-primary  me-1 my-1">Primary</span>
										<span class="badge bg-success  me-1 my-1">Success</span>
										<span class="badge bg-danger  me-1 my-1">Danger</span>
										<span class="badge bg-info  me-1 my-1">Info</span>
										<span class="badge bg-warning  me-1 my-1">Warning</span>
									</div>
								</div>
							</div><!-- COL-END -->
							<div class="col-md-12 col-lg-12">
								<div class="card ">
									<div class="card-header">
										<h3 class="mb-0 card-title">gradient Badges</h3>
									</div>
									<div class="card-body">
										<span class="badge badge-default me-1 my-1">Default</span>
										<span class="badge bg-primary-gradient  me-1 my-1">Primary</span>
										<span class="badge bg-success-gradient  me-1 my-1">Success</span>
										<span class="badge bg-danger-gradient  me-1 my-1">Danger</span>
										<span class="badge bg-info-gradient  me-1 my-1">Info</span>
										<span class="badge bg-warning-gradient  me-1 my-1">Warning</span>
									</div>
								</div>
							</div><!-- COL-END -->
							<div class="col-md-12 col-lg-12">
								<div class="card ">
									<div class="card-header">
										<h3 class="mb-0 card-title">Pill Badges</h3>
									</div>
									<div class="card-body">
										<span class="badge rounded-pill badge-default me-1 my-1">Default</span>
										<span class="badge rounded-pill bg-primary me-1 my-1">Primary</span>
										<span class="badge rounded-pill bg-success me-1 my-1">Success</span>
										<span class="badge rounded-pill bg-danger me-1 my-1">Danger</span>
										<span class="badge rounded-pill bg-info me-1 my-1">Info</span>
										<span class="badge rounded-pill bg-warning me-1 my-1">Warning</span>
									</div>
								</div>
							</div><!-- COL-END -->
							<div class="col-md-12 col-lg-12">
								<div class="card ">
									<div class="card-header">
										<h3 class="mb-0 card-title">gradient Pill Badges</h3>
									</div>
									<div class="card-body">
										<span class="badge rounded-pill badge-default me-1 my-1">Default</span>
										<span class="badge rounded-pill bg-primary-gradient me-1 my-1">Primary</span>
										<span class="badge rounded-pill bg-success-gradient me-1 my-1">Success</span>
										<span class="badge rounded-pill bg-danger-gradient me-1 my-1">Danger</span>
										<span class="badge rounded-pill bg-info-gradient me-1 my-1">Info</span>
										<span class="badge rounded-pill bg-warning-gradient me-1 my-1">Warning</span>
									</div>
								</div>
							</div><!-- COL-END -->
						</div>
						<!-- ROW-1 CLOSED -->

						<!-- ROW-2 OPEN -->
						<div class="row">
							<div class="col-xl-12">
								<div class="card ">
									<div class="card-header">
										<h3 class="mb-0 card-title">Buttons with Badges</h3>
									</div>
									<div class="card-body ">
										<button type="button" class="btn btn-primary my-1 me-3">
											<span>Notifications</span>
											<span class="badge badge-default mx-1">2</span>
										</button>
										<button type="button" class="btn btn-secondary  my-1 me-3">
											<span>Notifications</span>
											<span class="badge badge-default mx-1">2</span>
										</button>
										<button type="button" class="btn btn-success  my-1 me-3">
											<span>Notifications</span>
											<span class="badge badge-default mx-1">2</span>
										</button>
										<button type="button" class="btn btn-info  my-1 me-3">
											<span>Notifications</span>
											<span class="badge badge-default mx-1">2</span>
										</button>
										<button type="button" class="btn btn-warning my-1 me-3">
											<span>Notifications</span>
											<span class="badge badge-default mx-1">2</span>
										</button>
										<button type="button" class="btn btn-danger  my-1 me-3">
											<span>Notifications</span>
											<span class="badge badge-default mx-1">2</span>
										</button>
									</div>
								</div>
							</div><!-- COL-END -->
						</div>
						<!-- ROW-2 CLOSED -->

						<!-- ROW-3 OPEN -->
						<div class="row">
							<div class="col-md-12 col-lg-6">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Simple Badges</h3>
									</div>
									<div class="card-body">
										<h1>Heading 01 <span class="badge badge-default">New</span></h1>
										<h2>Heading 02 <span class="badge badge-default">New</span></h2>
										<h3>Heading 03 <span class="badge badge-default">New</span></h3>
										<h4>Heading 04 <span class="badge badge-default">New</span></h4>
										<h5>Heading 05 <span class="badge badge-default">New</span></h5>
										<h6>Heading 06 <span class="badge badge-default">New</span></h6>
									</div>
								</div>
							</div><!-- COL-END -->
							<div class="col-md-12 col-lg-6">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Colored Badges</h3>
									</div>
									<div class="card-body">
										<h1 class="text-blue">Heading 01  <span class="badge bg-primary">New</span></h1>
										<h2  class="text-secondary">Heading 02 <span class="badge bg-secondary">New</span></h2>
										<h3  class="text-yellow">Heading 03 <span class="badge bg-warning">New</span></h3>
										<h4  class="text-green">Heading 04 <span class="badge bg-success">New</span></h4>
										<h5  class="text-info">Heading 05 <span class="badge bg-info">New</span></h5>
										<h6  class="text-danger">Heading 06 <span class="badge bg-danger">New</span></h6>
									</div>
								</div>
							</div>
						</div>
						<!-- ROW-3 CLOSED -->

						<!-- ROW-4 OPEN -->
						<div class="row">
							<div class="col-md-12 col-lg-6">
								<div class="card">
                  <app-element-card-header [title]="'Contextual variations'" [item]="collapse" [item1]='isCollapsed' ></app-element-card-header>


									<div class="card-body">
										<span class="badge badge-default mt-2 mx-1">Default</span>
										<span class="badge bg-primary mt-2 mx-1">Primary</span>
										<span class="badge bg-success mt-2 mx-1">Success</span>
										<span class="badge bg-info mt-2 mx-1">Info</span>
										<span class="badge bg-warning mt-2 mx-1">Warning</span>
										<span class="badge bg-danger mt-2 mx-1">Danger</span><br>
                    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                      <div class="panel panel-primary tabs-style-1 my-3">
                        <ul ngbNav #nav1="ngbNav" class="panel-tabs">
                          <li class="me-2 mb-1" [ngbNavItem]="1">
                            <a ngbNavLink>HTML</a>
                            <ng-template ngbNavContent>
                              <pre><code >{{html1}}</code></pre>

                            </ng-template>
                          </li>
                          <li class="me-2 mb-1" [ngbNavItem]="2">
                            <a ngbNavLink>TS</a>
                            <ng-template ngbNavContent>
                              <pre><code >{{ts1}}</code></pre>

                            </ng-template>
                          </li>
                        </ul>

                        <div class="panel-body tabs-menu-body main-content-body-right border-top-0 border">
                          <div [ngbNavOutlet]="nav1" class="tab-pane"></div>
                          <div class="tab-content"></div>
                        </div>
                      </div>
                    </div>
									</div>
								</div>
							</div><!-- COL-END -->
							<div class="col-md-12 col-lg-6">
								<div class="card">
                  <app-element-card-header [title]="'Pill Badges'" [item]="collapse2" [item1]='isCollapsed2' ></app-element-card-header>


									<div class="card-body">
										<span class="badge rounded-pill badge-default mt-2 mx-1">Default</span>
										<span class="badge rounded-pill bg-primary mt-2 mx-1">Primary</span>
										<span class="badge rounded-pill bg-success mt-2 mx-1">Success</span>
										<span class="badge rounded-pill bg-info mt-2 mx-1">Info</span>
										<span class="badge rounded-pill bg-warning mt-2 mx-1">Warning</span>
										<span class="badge rounded-pill bg-danger mt-2 mx-1">Danger</span>

                      <div #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
                        <div class="panel panel-primary tabs-style-1 my-3">
                          <ul ngbNav #nav2="ngbNav" class="panel-tabs">
                            <li class="me-2 mb-1" [ngbNavItem]="1">
                              <a ngbNavLink>HTML</a>
                              <ng-template ngbNavContent>
                                <pre><code >{{html2}}</code></pre>

                              </ng-template>
                            </li>
                            <li class="me-2 mb-1" [ngbNavItem]="2">
                              <a ngbNavLink>TS</a>
                              <ng-template ngbNavContent>
                                <pre><code >{{ts2}}</code></pre>

                              </ng-template>
                            </li>
                          </ul>

                          <div class="panel-body tabs-menu-body main-content-body-right border-top-0 border">
                            <div [ngbNavOutlet]="nav2" class="tab-pane"></div>
                            <div class="tab-content"></div>
                          </div>
                        </div>
                      </div>
									
									</div>
								</div>
							</div><!-- COL-END -->
						</div>
						<!-- ROW-4 CLOSED -->

